<template>
    <div>
        <button class="btn btn-sm btn-primary" @click="onResultsClickHandler">Results</button>
        <modal name="results" :scrollable="true" height="auto" class="container">
            <div class="row p-3">
                <div class="col-md-12" v-html="html_result">

                </div>
                <div class="col-md-12 text-right">
                    <hr>
                    <button class="btn btn-primary" @click="onDismissButtonClick">Dismiss</button>
                    <button class="btn btn-success" @click="onCloseResultsButtonClick">Close Results</button>
                </div>
            </div>
        </modal>
    </div>
</template>
<script>
export default {
    props: {
        billing_list_id: {
            type: [Number,String],
            default: 0
        },
    },
    data() {
        return {
            html_result: null,
            root_uri: "reception-investigation-results"
        }
    },
    methods: {
        onResultsClickHandler() {
            this.$modal.show('results')
            axios.get(`${this.root_uri}/results/${this.billing_list_id}`)
                 .then(res=>{
                     this.html_result = res.data
                 })
        },
        onCloseResultsButtonClick() {
            axios.get(`${this.root_uri}/close-results/${this.billing_list_id}`)
                 .then(res=>{
                     window.location = "/reception"
                 })
        },
        onDismissButtonClick(){
            this.$modal.hide('results')
        }
    },
}
</script>