<template>
    <div class="col-md-12 row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="reg_no" class=" form-control-label">Patient Reg No.</label>
                <div class="input-group">
                    <input type="text" name="reg_no" id="reg_no" v-model="reg_no" 
                        @keydown.enter.prevent="onKeyUpHandler('reg_no', $event)"
                        @keyup.prevent="onKeyUpHandler('reg_no', $event)" 
                        @blur="()=>this.hide_reg_no_suggestions=true"
                        class="form-control reg_no" 
                        required>
                </div>
                <ul class="v-autocomplete" v-if="reg_no_suggestions.length>0&&!hide_reg_no_suggestions">
                    <li 
                        v-for="(reg_no_suggestion, index) of reg_no_suggestions" 
                        :key="reg_no_suggestion.id" 
                        :class="{selected: index == reg_no_suggestion_index}"
                        >
                        {{reg_no_suggestion.reg_no}}
                    </li> 
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="name" class=" form-control-label">Name</label>
                <div class="input-group">
                    <input type="text" name="name" v-model="name" id="check-name" 
                    @keydown.enter.prevent="onKeyUpHandler('name', $event)"
                    @keyup.prevent="onKeyUpHandler('name', $event)"
                    @blur="()=>this.hide_name_suggestions=true"
                    class="form-control name" 
                    required>
                </div>
                <ul class="v-autocomplete" v-if="name_suggestions.length>0&&!hide_name_suggestions">
                    <li
                        v-for="( name_suggestion, index ) of name_suggestions" 
                        :key="name_suggestion.id"
                        :class="{selected: index == name_suggestion_index}"
                        >
                        {{name_suggestion.name}}
                    </li> 
                </ul> 
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            reg_no_suggestions: [],
            name_suggestions: [],
            root_uri: this.$root.$data.root_uri,
            reg_no: "",
            name: "",
            reg_no_suggestion_index: 0,
            name_suggestion_index: 0,
            hide_name_suggestions: false,
            hide_reg_no_suggestions: false
        }
    },
    methods: { 
        suggestionSelected(suggestion){ 
            this.reg_no = suggestion.reg_no
            this.name = suggestion.name

            if(suggestion.patient_type === "Cash")
                this.$root.$data.costing["visit"].should_show = true
            else 
                this.$root.$data.costing["visit"].should_show = false 

            this.name_suggestions = []
            this.reg_no_suggestions = []
        }, 
        onKeyUpHandler( type, event){
            console.log(event.key)
            let action = event.key
           if(action === "ArrowDown"){ 
                if(type==="name"&&this.name_suggestion_index<this.name_suggestions.length-1)
                    this.name_suggestion_index++ 
                if(type==="reg_no"&&this.reg_no_suggestion_index<this.reg_no_suggestions.length-1)
                    this.reg_no_suggestion_index++ 

            }else if(action === "ArrowUp"){
                if(type==="name"&&this.name_suggestion_index>0)
                    this.name_suggestion_index--
                if(type==="reg_no"&&this.reg_no_suggestion_index>0)
                    this.reg_no_suggestion_index-- 

            }else if(action === "Enter"){
                if(type=="name")
                    this.suggestionSelected(this.name_suggestions[this.name_suggestion_index])
                else
                    this.suggestionSelected(this.reg_no_suggestions[this.reg_no_suggestion_index])

            }else{
                if( type === "reg_no"){
                    axios.get(`${this.root_uri}/reg-no-suggestions?query=${this.reg_no}`).then(res=>{
                        this.reg_no_suggestions=res.data
                        this.hide_reg_no_suggestions = false
                        this.reg_no_suggestion_index = 0
                    })                      

                }else{
                    axios.get(`${this.root_uri}/name-suggestions?query=${this.name}`).then(res=>{
                        this.name_suggestions=res.data
                        this.hide_name_suggestions = false
                        this.name_suggestion_index = 0
                    })
                } 
            } 
        }
    },
}
</script>