.auth-page-wrapper {
    background-position: center;
    background-size: cover;
}
body {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 13px;
    /* line-height: 0.625; */
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.login-wrap {
    max-width: 420px;
    padding-top: 20vh;
    margin: 0 auto;
}
.navbar-sidebar {
    padding: 20px;
    padding-bottom: 0;
}
.list-unstyled li {
    margin-top: 0px;
}
.main-content>.container {
    background-color: white;
    margin-right: 20px;
    width: 97%;
    padding: 40px 20px;
    box-shadow: -1px 5px 5px 0px lightgrey;
}
.mytable th {
    background-color: #ffffff !important;
    color: black;
    /* padding-left: 5px;
    padding-right: 5px;  */
    font-weight: 200; 
    font-family: sans-serif !important;
    font-weight: bold;
    padding: 16px;

    border: 1px solid #dee2e6;
    padding: .75rem;
    vertical-align: top;
}
.mytable td {
    background-color: #ffffff !important;
    color: black;
    /* padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #4e4e4e; */
    font-weight: 200; 
    font-family: sans-serif !important;

    border: 1px solid #dee2e6;
    padding: .75rem;
    vertical-align: top;
}
.menu-sidebar .logo {
    background: #ffffff;
    height: 75px;
    padding: 0 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-right: 1px solid #e5e5e5;
    position: relative;
    z-index: 3;
}
table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: collapse !important;
}
label {
    font-family: sans-serif;
    font-size: 15px;
}
.page-content--bgf7 {
    background: #f9f9f9 !important;
} 
.menu-sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    overflow-y: auto;
    box-shadow: 1px 1px 3px #8080806e;
}

.main-content {
    padding-top: 97px;
    min-height: 100vh;
}

.form-control {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 0px;
}

.hidden {
    display: none;
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px;
    outline: 0;
}
.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 2rem;
    border-top: 0px;
}
.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0px;
}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2rem;
}
#message-notify {
    position: fixed;
    bottom: 30px;
    right: 30px;
    box-shadow: 0px 0px 4px 4px #00000024;
}
.folder:hover{
    background-color: whitesmoke;
}
.borderless td, .borderless th {
    border: none;
}

.attendance-table td, .attendance-table th {
    padding: .75rem 0 .75rem !important;
    width: 12px;
}

i.fa.present {
    color: blue;
}
i.fa.absent {
    color: red;
}
i.fa.late {
    color: orange;
}
.button-margin {
    margin-top: 32px;
}

/* auto complete for vue  */
.v-autocomplete{
    position: absolute;
    list-style: none;
    border: 1px solid #d6d6d6;
    width: 85.5%;
    z-index: 2343;
    background: white;
}

.v-autocomplete > li{
    text-decoration: none;
    padding: 8px 10px 8px 10px;
    border-bottom: 1px solid #efefef;
}

.v-autocomplete > li:hover{
    background-color: gray;
    cursor: pointer;
}

.v-autocomplete > li.selected{
    background-color: gray; 
}
/* auto complete for vue ends  */

/* select2 for vue customisation */
.select2-container--default .select2-selection--single {
    background-color: #fff !important;
    border: 1px solid #dcdcdc !important;
    border-radius: 0px !important;
    height: 35px !important;
}
.select2-container { 
    max-width: 100% !important;
    width: 100% !important;
    outline: none;
}
#medicine_container label {
    font-family: sans-serif;
    font-size: 12px;
}
/* ends */