<template>
    <div class="col-md-12 row">
        <div class="col-md-3 form-group">
            <label for="" class="form-control-label">Consultants</label>
            <div class="input-group">
                <select name="consultant_id" id="" v-model="selected_consultant" @change="onConsultantChangeHandler" class="form-control" required>
                    <option :value="null" disabled selected>Select Consultant</option>
                    <option v-for="(consultant, index) in consultants" :key="index" :value="consultant.id">{{consultant.name}}</option>
                </select>                
            </div> 
        </div>
        <div class="col-md-3 form-group">
            <label for="" class="form-control-label">Date</label>
            <div class="input-group">
                <input type="date" class="form-control" name="appointment_date" required>     
            </div>
        </div>
        <div class="col-md-3 form-group">
            <label for="" class="form-control-label">Time</label>
            <div class="input-group">
                <input type="time" class="form-control" name="appointment_time" required>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            root_uri: this.$parent.$data.root_api_url,
            consultants: [],
            selected_consultant: null
        }
    },
    methods: {
        onConsultantChangeHandler() {
            let consultant_index = this.consultants.findIndex(item=>item.id === this.selected_consultant)
            let consultant = this.consultants[consultant_index]
            let price = consultant.fee
            console.log(price)
            this.$root.$data.costing[this.$parent.id].consultation_fee = price
        }
    },
    mounted () {  
        axios.get(`${this.root_uri}/consultants`).then(res=>this.consultants = res.data);
    },
}
</script>