<template>
    <div class="col-md-12 row">
        <div class="col-md-12">
            <div class="form-group">
                <label class=" form-control-label">Select tests:</label>
                <div class="input-group card card-body">
                    <div class="container-fluid row">
                        <div class="col-md-2" v-for="(test, index) in tests" :key="index"> 
                            <input type="checkbox" @change="onCheckboxChangeHandler" ref="test_values" name="lab_tests[]" :value="test.id">  {{test.name}} 
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            root_uri: this.$parent.$data.root_api_url,
            tests: [],
        }
    },
    mounted () {
        axios.get(`${this.root_uri}/tests`).then(res=>this.tests = res.data) 
    },
    methods: {
        onCheckboxChangeHandler() {
            let selected_checkboxes = this.$refs["test_values"].filter(test => test.checked)
            let sum = 0
            selected_checkboxes.forEach(checkbox => {
                let checkbox_test_index = this.tests.findIndex(test => test.id==checkbox.value)
                let price = this.tests[checkbox_test_index].price
                sum += parseInt(price)
            });
            this.$parent.$root.$data.costing[this.$parent.id].tests_price = sum
        }
    },
}
</script>